<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>码界 - 一个全栈程序员的个人博客网站</title>
    <link rel="shortcut icon" href="../images/Logo_40.png" type="image/x-icon">
    <!--Layui-->
    <link href="../plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="../plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="../css/global.css" rel="stylesheet" />
    <!-- 比较好用的代码着色插件 -->
    <link href="../css/prettify.css" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link href="../css/detail.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap-grid.css" rel="stylesheet">
    <style>
    	.like-btn{
    		width: 80px;
    		height: 40px;
    		line-height: 40px;
    		border-radius: 10px;
    		-webkit-border-radius: 10px;
    		background-color: rgb(26,160,148);
    		color: white;
    		text-align: center;
    		font-size: 14px;
    		cursor: pointer;
    	}
    	.like-btn:hover{
    		background-color: red;
    		cursor: pointer;
    	}
    	.like-btn:active{
    		background-color: #660000;
    		cursor: pointer;
    	}
    	.like-btn:visited{
    		background-color: #660000;
    		pointer-events: none;
    	}
    	.dislike-btn{
    		width: 80px;
    		height: 40px;
    		line-height: 40px;
    		border-radius: 10px;
    		-webkit-border-radius: 10px;
    		background-color: rgb(26,160,148);
    		color: white;
    		text-align: center;
    		font-size: 14px;
    		cursor: pointer;
    	}
    </style>
</head>
<body>
   <div id="app">
   	 <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- QQ互联登陆 -->
            <a href="javascript:;" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>
            <a href="javascript:;" class="blog-user layui-hide">
                <img src="../images/KeepFing.jpg" alt="KeepFing" title="KeepFing" />
            </a>
            <!-- 不落阁 -->
            <a class="blog-logo" href="home.html">码界</a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item" v-bind:class="item.url=='detail.html' ? 'layui-this' : ''" v-for="(item,index) in menu">
                    <a v-bind:href="item.url"><i class="fa fa-file-text fa-fw"></i>&nbsp;{{item.name}}</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="home.html" title="网站首页">网站首页</a>
                <a href="article.html" title="文章专栏">文章专栏</a>
                <a><cite>{{blogDetail.title}}</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
                    <div class="article-detail shadow">
                        <div class="article-detail-title">
                          {{blogDetail.title}}
                        </div>
                        <div class="article-detail-info">
                            <span>编辑时间：{{blogDetail.create_time}}</span>
                            <span>作者：{{blogDetail.author}}</span>
                            <span>浏览量：{{blogDetail.watch_times}}</span>
                        </div>
                        <div class="article-detail-content" v-html="blogDetail.content">
                            <!--
                            	作者：675493757@qq.com
                            	时间：2018-06-06
                            	描述：这里是文章的主题内容
                            -->
                        </div>
                        <div class="container">
                        	<div class="row">
                        		<div class="col-md-4">
                        			<div class="like-btn">喜欢{{blogDetail.like}}</div>
                        		</div>
                        		<div class="col-md-4">
                        			<div class="dislike-btn">鄙视{{blogDetail.dislike}}</div>
                        		</div>
                        	</div>
                        </div>
                    </div>
                    <!-- 评论区域 -->
                    <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                            <legend>来说两句吧</legend>
                            <div class="layui-field-box">
                                <div class="layui-form blog-editor">
                                    <div class="layui-form-item">
                                        <textarea v-model="replayContent" placeholder="请输入内容" class="layui-textarea"></textarea>
                                    </div>
                                    <div class="layui-form-item">
                                        <button class="layui-btn" lay-submit="formRemark" lay-filter="formRemark" @click="submitReplay">提交评论</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="blog-module-title">最新评论</div>
                        <ul class="blog-comment">
                            <li v-for="(item,index) in bbs">
                                <div class="comment-parent">
                                    <img src="../images/Absolutely.jpg" alt="absolutely" />
                                    <div class="info">
                                        <span class="username">{{item.username}}</span>
                                        <span class="time">{{item.create_time}}</span>
                                    </div>
                                    <div class="content">
                                       {{item.message}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-main-right">
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div><!--这个div位置不能改，否则需要添加一个div来代替它或者修改样式表-->
                    <div class="article-category shadow">
                        <div class="article-category-title">分类导航</div>
                        <!-- 点击分类后的页面和artile.html页面一样，只是数据是某一类别的 -->
                        <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)" v-for="(item,index) in typeList">{{item.type_name}}</a>
                        <div class="clear"></div>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">相似文章</div>
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
                            <li v-for="(item,index) in hotBlog">
                            	<i class="fa-li fa fa-hand-o-right"></i><a href="javascript:" @click="go_toDetail(item.id)">{{item.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="blog-footer">
        <p><span>Copyright</span><span>&copy;</span><span>1994-2018</span><a href="http://www.lyblogs.cn">码界</a><span>Create By WW</span></p>
        <p><a href="http://www.github.com/KeepFing/" target="_blank">github主页</a></p>
    </footer>
    <!--侧边导航-->
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
        <li class="layui-nav-item" v-bind:class="item.url=='home.html' ? 'layui-this' : ''" v-for="(item,index) in menu">
            <a v-bind:href="item.url"><i class="fa fa-file-text fa-fw"></i>&nbsp;{{item.name}}</a>
        </li>
    </ul>
    <!--分享窗体-->
    <div class="blog-share layui-hide">
        <div class="blog-share-body">
            <div style="width: 200px;height:100%;">
                <div class="bdsharebuttonbox">
                    <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                </div>
            </div>
        </div>
    </div>
<!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
   </div>
    
</body>
    <!-- layui.js -->
    <script src="../plug/layui/layui.js"></script>
    <!-- 自定义全局脚本 -->
    <script src="../js/global.js"></script>
    <!-- 比较好用的代码着色插件 -->
    <script src="../js/prettify.js"></script>
    <!-- 本页脚本 -->
    <script src="../js/detail.js"></script>
    <!--引入vue.js脚本-->
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <!--引入axios.js脚本-->
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script>
    	new Vue({
            el: '#app',
            data: {
            	menu:[],
            	hotBlog:[],
            	blogDetail:[],
            	bbs:[],
            	typeList:[],
            	replayContent:''
            },
            mounted: function () {
			    this.getInitData()
			},
            methods:{
            	submitReplay(){
            		var th = this
            		var user_id = localStorage.getItem("userid");
            		if (user_id == '' || user_id == null) {
            			user_id = '0'	
            		}
            		axios({
            			method:'post',
            			url:server+'api/users/addBBS',
            			data:{
            				"articleId":getUrlParam("id"),
            				"userId":user_id,
            				"message":th.replayContent,
            				"createTime":getDate()
            			}
            		}).then(function(res){
            			th.replayContent = ''
            			if (res.data.code == 0) {
            				layui.use('layer', function(){
							  var layer = layui.layer;
							  
							  layer.msg('恭喜成功留下你的足迹', {icon: 1});
							});
            			} else {
            				layui.use('layer', function(){
							  var layer = layui.layer;
							  
							  layer.msg('网络不好吧', {icon: 5});
							});
            			};
            			axios({
            			method:'post',
            			url:server+'api/users/queryBBS',
            			data:{
	            				"id":getUrlParam("id"),
	            				"page":1,
	            				"limit":10
	            		}
	            		}).then(function(res){
	            			th.bbs = res.data.data
	            		});
            			
            		})
            	},
            	go_toDetail(id){
            		window.location.href = 'detail.html?id='+id
            	},
            	getInitData(){
            		var th = this
            		var id = getUrlParam("id");
            		axios({
            			method:'post',
            			url:server+'api/users/queryBlogById',
            			data:{
            				"id":id
            			}
            		}).then(function(res){
            			th.blogDetail = res.data.data
            		});
            		axios({
            			method:'post',
            			url:server+'api/users/queryBBS',
            			data:{
            				"id":id,
            				"page":1,
            				"limit":10
            			}
            		}).then(function(res){
            			th.bbs = res.data.data
            		});
            		axios({
            			method:'post',
            			url:server+'api/users/queryBlogType',
            		}).then(function(res){
            			th.typeList = res.data.data
            		});
            		axios({
            			method:'post',
            			url:server+'api/system/queryMenu'
            		}).then(function(res){
            			th.menu = res.data.data
            		});
            		axios({
            			method:'post',
            			url:server+'api/users/queryBlogByReadTimes'
            		}).then(function(res){
            			th.hotBlog = res.data.data
            			console.log(res)
            		});
            	}
            }
        })
    </script>
</html>